:root {
    --eggretwhite    : #F3ECE0;
    --burgundy       : #7B1823;
    --burgundy-active: #521018;
}

* {
    margin     : 0;
    padding    : 0;
    font-family: "Noto Sans KR", sans-serif;
}

html {
    min-height: 100%;
}

body {
    min-height         : 100%;
    color              : var(--text);
    background-image   : url('../images/bg_1.png'), url('../images/bg_2.png'), linear-gradient(to bottom right, var(--eggretwhite), white);
    background-position: right top, left bottom, center;
    background-repeat  : no-repeat, no-repeat, no-repeat;
    background-size    : min(500px, 100%), min(500px, 100%), 100%;
    padding-bottom     : 20px;
    color              : var(--burgundy)
}

a {
    color: var(--burgundy)
}

header {
    width     : 100%;
    text-align: center;
    margin-top: 40px;
}

#header-logo {
    display        : inline-block;
    width          : min(650px, 80vw);
    height         : min(250px, 27vw);
    object-fit     : cover;
    object-position: 0 40%;
}

#home-slogan {
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
}

nav {
    display         : block;
    background-color: var(--burgundy);
    color           : white;
    width           : 100%;
    position        : fixed;
    top             : 0;
    z-index         : 100;
}

nav ul {
    list-style: none;
    width     : min(1200px, 100vw);
    margin    : 0 calc(50vw - 600px);
}

nav li {
    display: inline-block;
}

nav li a {
    display        : block;
    color          : white;
    text-decoration: none;
}

.nav-logo {
    float: left;
}

.nav-logo img {
    display       : block;
    filter        : brightness(0) invert(1);
    height        : 40px;
    line-height   : 40px;
    /* width      : 250px; */
    width         : 75px;
    object-fit    : cover;
    /* margin-left: -40px; */
    margin-left   : -25px;
}

@media screen and (min-width: 1200px) {
    nav ul {
        width : min(100%, 1200px);
        margin: 0 max(0, calc(50vw - 600px));
    }

    nav li a {
        display        : block;
        color          : white;
        text-decoration: none;
        padding        : 0 20px;
        height         : 60px;
        line-height    : 60px;
    }

    nav li a:hover {
        background-color: white;
        color           : var(--burgundy);
        transition      : 0.3s ease;
    }

    .nav-mobile {
        display: none;
    }

    .nav-pc {
        display: inline-block;
    }
}


@media (min-width: 500px) and (max-width: 1200px) {
    nav ul {
        width : 100%;
        margin: 0;
    }

    nav li a {
        display        : block;
        color          : white;
        text-decoration: none;
        padding        : 0 20px;
        height         : 60px;
        line-height    : 60px;
    }

    nav li a:hover {
        background-color: white;
        color           : var(--burgundy);
        transition      : 0.3s ease;
    }

    .nav-mobile {
        display: none;
    }

    .nav-pc {
        display: inline-block;
    }
}

@media screen and (max-width: 500px) {
    nav ul {
        width     : 100%;
        margin    : 0;
        text-align: right;
    }

    nav li a {
        height     : 40px;
        line-height: 40px;
        padding    : 0 10px;
    }

    nav li a:hover {
        background-color: var(--burgundy);
        color           : white;
    }

    .nav-pc {
        display: none;
    }

    .nav-mobile {
        display: inline-block;
    }
}

@media screen and (min-width: 1200px) {
    main {
        max-width: 1200px;
        margin   : 5px calc(50% - 600px);
    }
}

@media screen and (max-width: 1200px) {
    main {
        margin: 10px;
    }
}

.img-slider {
    width     : 100%;
    text-align: center;
    margin    : 50px 0;
}

.slider-img {
    height         : min(50vw, 500px);
    object-fit     : cover;
    object-position: 0 33%;
    width          : min(800px, 100vw);
}

/* Fading animation */
.fade {
    animation-name    : fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

#youtube {
    width        : min(calc(100vw - 60px), 800px);
    height       : min(56vw - 33px, 450px);
    margin       : 20px 20px 0px 20px;
    border-radius: 10px;
}

@media screen and (min-width: 500px) {
    #youtube {
        display: none;
    }

}

main h1 {
    margin: 10px 0;
}

footer {
    text-align: center;
    margin-top: 100px;
}

footer p {
    font-size: min(16px, 2vw);
}

#footer-logo {
    height    : min(100px, 10vw);
    width     : min(350px, 35vw);
    object-fit: cover;
    margin-bottom: -5px;
}

#footer-copyright {
    height    : min(50px, 5vw);
    width     : min(835px, 90vw);
    object-fit: cover;
    margin-top: 5px;
}

.socialmedia-icon {
    opacity: 1;
}

.socialmedia-icon img {
    height        : min(60px, 10vw);
    vertical-align: bottom;
    /* margin        : 10px; */
}

.socialmedia-icon:hover {
    opacity   : 0.8;
    transition: 0.3s ease;
}

.btn {
    display        : inline-block;
    text-decoration: none;
    padding        : 10px 20px;
    border-radius  : 10px;
}

@media screen and (min-width: 500px) {
    .btn {
        margin: 10px 5px;
    }
}

@media screen and (max-width: 500px) {
    .btn {
        margin: 10px;
        width : calc(100vw - 100px);
    }
}

.btn-home {
    display         : inline-block;
    background-color: var(--burgundy);
    text-decoration : none;
    color           : white;
    text-align      : left;
    width           : calc(50vw - 90px);
    height          : calc(50vw - 90px);
    border-radius   : 20px;
    padding         : 30px;
    margin          : 5px;
}

.btn-home i {
    display      : block;
    font-size    : 80px;
    margin-bottom: 15px;
}

.btn-home p {
    font-size: 20px;
}

.btn:hover {
    transition: 0.3s ease;
}

.btn-primary {
    background-color: var(--burgundy);
    color           : white;
}

.btn-primary:hover {
    background-color: white;
    color           : var(--burgundy);
}

.btn-secondary {
    background-color: transparent;
    border          : 1px solid var(--burgundy);
    color           : var(--burgundy);
}

.btn-secondary:hover {
    background-color: white;
}

.center {
    text-align: center;
}

.box {
    margin: 10px 0 50px 0;
}

.collapsible {
    width           : 100%;
    text-align      : left;
    font-size       : 20px;
    background-color: var(--background);
    border-top      : 1px solid var(--secondary-select);
    border-left     : none;
    border-bottom   : none;
    border-right    : none;
    padding         : 5px 10px;
    cursor          : pointer;
}

.collapsible:hover {
    background-color: var(--secondary);
}

.collapsible i {
    float      : right;
    margin-left: 5px;
    margin-top : 3px;
}

.content {
    max-height   : 0;
    overflow     : hidden;
    border-bottom: 1px solid var(--secondary-select);
    transition   : max-height 0.2s ease;
}