:root {
    --background      : white;
    --text            : black;
    --primary         : #d94545;
    --primary-select  : darkred;
    --primary-text    : white;
    --secondary       : rgb(238, 238, 238);
    --secondary-select: darkgray;
    --secondary-text  : black;
}

* {
    margin     : 0;
    padding    : 0;
    font-family: "Noto Sans KR", sans-serif;
}

body {
    background-color: var(--background);
    color           : var(--text);
}

a {
    color: black;
}

header {
    text-align         : center;
    /* background-color: var(--primary); */
}

#header_logo {
    display        : inline-block;
    text-decoration: none;
    color          : black;
    font-size      : 50px;
    font-weight    : bold;
    margin         : 100px 0;
}

#header_logo:hover {
    text-decoration: underline;
}

header h1 {
    margin: 50px 0;
}

@media screen and (min-width: 1200px) {
    main {
        max-width: 1200px;
        margin   : 5px calc(50% - 600px);
    }
}

@media screen and (max-width: 1200px) {
    main {
        margin: 5px;
    }
}

footer {
    text-align: center;
    margin-top: 100px;
}

footer p {
    font-size: min(16px, 2vw);
}

.socialmedia-icon {
    opacity: 0.2;
    margin: 0 20px;
}

.socialmedia-icon i {
    font-size: 40px;

}

.socialmedia-icon img {
    height        : 40px;
    vertical-align: bottom;
}

.socialmedia-icon:hover {
    opacity   : 0.8;
    transition: 0.3s ease;
}

.btn {
    display        : inline-block;
    text-decoration: none;
    padding        : 10px 20px;
    margin         : 5px;
    border-radius  : 20px;
}

.btn:hover {
    transition: 0.3s ease;
}

.btn-primary {
    background-color: var(--primary);
    color           : var(--primary-text);
}

.btn-primary:hover {
    background-color: var(--primary-select);
}

.btn-secondary {
    background-color: var(--secondary);
    color           : var(--secondary-text);
}

.btn-secondary:hover {
    background-color: var(--secondary-select);
}

.center {
    text-align: center;
}

.box {
    margin: 10px 0 50px 0;
}